<%= @player_1.name %> vs. <%= @player_2.name %><br>
<%= @player_1.name %> has <%= MAX_HP %> HP.<br>
<%= @player_2.name %> has <%= MAX_HP %> HP.<br>
<br>
<form action="/player_1_attacks">
  <input type="submit" value="Attack player 2">
</form>
