<%= @player_1 %> vs. <%= @player_2 %><br>
<%= @player_1 %> has <%= MAX_HP %> HP.<br>
<%= @player_2 %> has <%= MAX_HP %> HP.<br>
<br>
<form action="/player_1_attacks">
  <input type="submit" value="Attack player 2">
</form>
